---
- name: Lookup prysm user
  getent:
    database: passwd
    key: "{{ prysm_user }}"
  register: prysm_user_entry
  failed_when: false

- name: install | Determine if prysm user exists
  set_fact:
    prysm_user_exists: "{{ prysm_user in (prysm_user_entry.ansible_facts.getent_passwd | default({})) }}"

- block:

  - name: Extract current UID (only if user exists)
    set_fact:
      prysm_current_uid: "{{ prysm_user_entry.ansible_facts.getent_passwd[prysm_user][1] | int }}"

  - name: Determine if UID update is needed
    set_fact:
      prysm_uid_needs_update: "{{ prysm_current_uid != prysm_uid }}"

  - name: Stop enabled prysm services if UID needs update
    service:
      name: "{{ item.name }}"
      state: stopped
    loop:
      - name: prysm-beacon
        enabled: "{{ prysm_beacon_enabled }}"
      - name: prysm-validator
        enabled: "{{ prysm_validator_enabled }}"
    when:
      - item.enabled
      - prysm_uid_needs_update
    become: true

  - name: Set updated optionally to trigger a systemd restart at the end
    set_fact:
      prysm_state_updates_beacon: "{{ prysm_state_updates_beacon + (['prysm.uid'] if prysm_beacon_enabled else []) }}"
      prysm_state_updates_validator: "{{ prysm_state_updates_validator + (['prysm.uid'] if prysm_validator_enabled else []) }}"
    when:
      - prysm_uid_needs_update

  when: prysm_user_exists

- name: Ensure prysm group exists
  ansible.builtin.group:
    name: "{{ prysm_group }}"
    gid: "{{ prysm_gid }}"    
    state: present
  become: true

- name: Create prysm user
  ansible.builtin.user:
    comment:  prysm client user
    name: "{{ prysm_user }}"
    uid: "{{ prysm_uid }}"
    group: "{{ prysm_group }}"
  become: true

- name: Create directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ prysm_user }}"
    group: "{{ prysm_group }}"
    recurse: true    
  loop:
    - "{{ prysm_base_dir }}"
    - "{{ prysm_install_dir }}"
    - "{{ prysm_config_dir }}"
    - "{{ prysm_keys_dir }}"
    - "{{ prysm_wallet_dir }}"
    - "{{ prysm_data_dir }}"
    - "{{ prysm_validator_data_dir }}"
    - "{{ prysm_log_dir }}"
  become: true

- name: Setup logrotate
  ansible.builtin.template:
    src: "logrotate/prysm"
    dest: "/etc/logrotate.d/prysm"
  become: true

- name: Get prysm beacon-chain binary to install directory [version={{ _prysm_version }}]
  ansible.builtin.get_url:
    url: "{{ prysm_download_beacon_url }}"
    dest: "{{ prysm_install_dir }}/prysm-beacon"
    owner: "{{ prysm_user }}"
    group: "{{ prysm_group }}"
    mode: '0777'
  become: true
  register: get_binary_beacon

- name: Get prysm validator binary to install directory [version={{ _prysm_version }}]
  ansible.builtin.get_url:
    url: "{{ prysm_download_validator_url }}"
    dest: "{{ prysm_install_dir }}/prysm-validator"
    owner: "{{ prysm_user }}"
    group: "{{ prysm_group }}"
    mode: '0777'
  become: true
  register: get_binary_validator

- name: Create a symlink to current
  ansible.builtin.file:
    src: "{{ prysm_install_dir }}/"
    dest: "{{ prysm_current_dir }}"
    state: link
  register: create_symlink
  become: true

- name: Set updated optionally to trigger a systemd restart at the end
  ansible.builtin.set_fact:
    prysm_state_updates: "{{ prysm_state_updates + ['prysm.install_dir'] }}"
    prysm_state_updates_validator: "{{ prysm_state_updates_validator + ['prysm.install_dir'] }}"
    prysm_state_updates_beacon: "{{ prysm_state_updates_beacon + ['prysm.install_dir'] }}"
  when: >
    get_binary_beacon is changed or
    get_binary_validator is changed or
    create_symlink is changed
