
# network
network: "{{prysm_network}}"
{% if prysm_beacon_node_api_endpoints is defined and prysm_beacon_node_api_endpoints != [] %}
beacon-node-api-endpoints: [{{prysm_beacon_node_api_endpoints|map('to_json')|join(',')}}]
{% endif %}

{% if prysm_initial_state != ""  %}
initial-state: "{{prysm_initial_state}}"
{% endif %}

# p2p
# p2p-enabled options:
# false - no discovery, only connect to static peers
# true - Enable discovery v5
p2p-enabled: {{prysm_p2p_enabled}}
p2p-interface: "{{prysm_p2p_interface}}"
p2p-port: {{prysm_p2p_port}}
{% if prysm_host_ip != "" %}
p2p-advertised-ip: "{{ prysm_host_ip }}"
{% endif %}
p2p-advertised-port: {{prysm_p2p_advertised_port}}
p2p-discovery-enabled: {{prysm_p2p_discovery_enabled}}
{% if prysm_node_private_key_file != "" %}
# private_key
p2p-private-key-file: "{{prysm_node_private_key_file}}"
{% endif %}
{% if prysm_p2p_discovery_bootnodes is defined and prysm_p2p_discovery_bootnodes != '' %}
p2p-discovery-bootnodes: {{ prysm_p2p_discovery_bootnodes }}
{% endif %}
{% if prysm_p2p_peer_lower_bound is defined and prysm_p2p_peer_lower_bound != '' %}
p2p-peer-lower-bound: {{ prysm_p2p_peer_lower_bound }}
{% endif %}
{% if prysm_p2p_peer_upper_bound is defined and prysm_p2p_peer_upper_bound != '' %}
p2p-peer-upper-bound: {{ prysm_p2p_peer_upper_bound }}
{% endif %}
{% if prysm_p2p_static_peers is defined and prysm_p2p_static_peers != ''  %}
p2p-static-peers: {{ prysm_p2p_static_peers }}
{% endif %}
{% if prysm_p2p_subscribe_all_subnets_enabled is defined and prysm_p2p_subscribe_all_subnets_enabled != '' %}
p2p-subscribe-all-subnets-enabled: {{ prysm_p2p_subscribe_all_subnets_enabled }}
{% endif %}

# interop
# when genesis time is set to 0, artemis takes genesis time as currentTime + 5 seconds.
Xinterop-genesis-time: {{prysm_interop_genesis_time}}
Xinterop-owned-validator-start-index: {{prysm_interop_owned_validator_start_index}}
Xinterop-owned-validator-count: {{prysm_interop_owned_validator_count}}
Xinterop-number-of-validators: {{prysm_interop_number_of_validators}}
Xinterop-enabled: {{prysm_interop_enabled}}

# validator
{% if prysm_validators_key_file != "" %}
validators-key-file: "{{prysm_validators_key_file}}"
{% endif %}

# Execution Layer
{% if prysm_deposit_contract_address != "0x" %}
eth1-deposit-contract-address: "{{prysm_deposit_contract_address}}"
{% endif %}
{% if prysm_deposit_eth1_endpoint != "" %}
eth1-endpoint: "{{prysm_deposit_eth1_endpoint}}"
{% endif %}
{% if prysm_ee_endpoint is defined and prysm_ee_endpoint != "" %}
ee-endpoint: "{{prysm_ee_endpoint}}"
{% endif %}
{% if prysm_ee_jwt_secret_file is defined and prysm_ee_jwt_secret_file != "" %}
ee-jwt-secret-file: "{{prysm_ee_jwt_secret_file}}"
{% endif %}

# logging
log-color-enabled: {{ prysm_log_color_enabled }}
{% if prysm_log4j_config_file is defined %}
# Settings for logging are defined in "{{ prysm_log4j_config_file }}"
{% else %}
log-include-events-enabled: {{ prysm_log_include_events_enabled }}
log-destination: "{{ prysm_log_destination }}"
log-file: "{{ prysm_log_filename }}"
log-file-name-pattern: "{{ prysm_log_filename_pattern }}"
logging: "{{ prysm_log_level }}"
{% if prysm_log_validator_duties is defined and prysm_log_validator_duties != '' %}
log-include-validator-duties-enabled: {{ prysm_log_validator_duties }}
{% endif %}
{% endif %}


# metrics
{% if prysm_metrics_enabled|bool == True %}
metrics-enabled: True
metrics-port: {{prysm_metrics_port}}
metrics-interface : "{{prysm_metrics_interface}}"
{% if prysm_metrics_categories != [] %}
metrics-categories: [{{prysm_metrics_categories|map('to_json')|join(',')}}]
{% endif %}
metrics-host-allowlist: [{{prysm_metrics_host_allowlist|map('to_json')|join(',')}}]
{% endif %}

# database
data-path: "{{prysm_data_path}}"
data-storage-mode: "{{prysm_data_storage_mode}}"
{% if prysm_data_beacon_path is defined and prysm_data_beacon_path != '' %}
data-beacon-path: "{{ prysm_data_beacon_path }}"
{% endif %}
{% if prysm_data_storage_archive_frequency is defined and prysm_data_storage_archive_frequency != '' %}
data-storage-archive-frequency: {{ prysm_data_storage_archive_frequency }}
{% endif %}
{% if prysm_data_validator_path is defined and prysm_data_validator_path != '' %}
data-validator-path: "{{ prysm_data_validator_path }}"
{% endif %}

# beaconrestapi
rest-api-port: {{prysm_beacon_rest_api_port}}
rest-api-docs-enabled: {{prysm_beacon_rest_api_docs_enabled}}
rest-api-enabled: {{prysm_beacon_rest_api_enabled}}
rest-api-interface: "{{prysm_beacon_rest_api_interface}}"
rest-api-host-allowlist: [{{prysm_beacon_rest_api_host_allowlist|map('to_json')|join(',')}}]

{% if prysm_validators_external_signer_public_keys is defined and prysm_validators_external_signer_public_keys != '' %}
validators-external-signer-public-keys: {{ prysm_validators_external_signer_public_keys  }}
{%  endif %}
{% if prysm_validators_external_signer_timeout is defined and prysm_validators_external_signer_timeout != '' %}
validators-external-signer-timeout: {{ prysm_validators_external_signer_timeout }}
{% endif %}
{% if prysm_validators_external_signer_url is defined and prysm_validators_external_signer_url != '' %}
validators-external-signer-url: "{{ prysm_validators_external_signer_url }}"
{% endif %}
{% if prysm_validators_graffiti is defined and prysm_validators_graffiti != '' %}
validators-graffiti: "{{ prysm_validators_graffiti }}"
{% endif %}
{% if prysm_validators_keystore_locking_enabled is defined and prysm_validators_keystore_locking_enabled != '' %}
validators-keystore-locking-enabled: {{ prysm_validators_keystore_locking_enabled }}
{% endif %}
{% if prysm_validators_performance_tracking_enabled is defined and prysm_validators_performance_tracking_enabled == True %}
validators-performance-tracking-mode: "ALL"
{% endif %}

{% if prysm_ws_checkpoint is defined and prysm_ws_checkpoint != '' %}
ws-checkpoint: "{{ prysm_ws_checkpoint }}"
{% endif %}

{% if prysm_validator_key_files != [] %}
# validators keys
validators-key-files: [{{prysm_validator_key_files|map('to_json')|join(',')}}]
validators-key-password-files: [{{prysm_validator_key_password_files|map('to_json')|join(',')}}]
{% endif %}

{% if prysm_validator_keys is defined and prysm_validator_keys != [] %}
validator-keys: [{{prysm_validator_keys|map('to_json')|join(',')}}]
{% endif %}

{% if prysm_validators_proposer_default_fee_recipient is defined and prysm_validators_proposer_default_fee_recipient != "" %}
validators-proposer-default-fee-recipient: "{{prysm_validators_proposer_default_fee_recipient}}"
{% endif %}

{% if prysm_validators_proposer_config is defined and prysm_validators_proposer_config != "" %}
validators-proposer-config: "{{prysm_validators_proposer_config}}"
{% endif %}

{% if prysm_validators_proposer_config_refresh_enabled is defined and prysm_validators_proposer_config_refresh_enabled != "" %}
validators-proposer-config-refresh-enabled: "{{prysm_validators_proposer_config_refresh_enabled}}"
{% endif %}

{% if prysm_validators_early_attestations_enabled is defined and prysm_validators_early_attestations_enabled != "" %}
validators-early-attestations-enabled: {{prysm_validators_early_attestations_enabled | bool}}
{% endif %}